* {
    border: 1px solid red;
}
.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.footer {
    background: #eee;
}
body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    flex-direction: column;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}
.icon{
    display: flex;
}
.footerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}