* {
    border: 1px solid red;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #1F2937;
    color: #f9faf8;
}

.header {
    margin-top: -35px
}

.footer {
    font-weight: 200;
    justify-content: center;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.icon {
    display: flex;
    font-size: 24px;
    font-weight: 800;
}

.footerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.hero-left {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left .main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.main-text {
    width: 400px;
    margin-bottom: -65px;
}

.secondary-text {
    width: 428px;
    margin-bottom: -13px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 633px;
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    border-style: none;

}

.gallery-container {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 60px;

}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 40px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info img {
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.text {
    width: 149px;
    text-align: center;
    padding: 8px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 46px 296px;
}

.quote {
    padding: 20px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: ;
}

.quotee {
    display: flex;
    justify-content: right;
    font-weight: 800;
   
}

.call-container {
    display: flex;
    flex-shrink: 0;
    padding: 59px 14px;
    justify-content: center;
    color: #E5E7EB;
}

.inside-container {
    display: flex;
    margin: 25px 50px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #3882f6;
}

.top-line {
    margin-bottom: -22px;
    margin-left: 1px;
    font-size: 24px;
    font-weight: 800;
}

.bottom-line {
    font-size: 22px;
}
.left-side{
    display: flex;
    padding: 27px 99px;
    flex-direction: column;
}
.right-side{
    display: flex;
    padding: 10px 108px;
    margin-right: 20px;

}
.right-side button{
    border: solid 2px #f9faf8;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}
p {
    display: flex;
    justify-content: start;
}